/* stylelint-disable custom-property-pattern */
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --ds-black: #22161b;

  /* pink */
  --ds-pink-50: #fdf7f9;
  --ds-pink-100: #fbeff3;
  --ds-pink-200: #f7dfe8;
  --ds-pink-300: #f2cedc;
  --ds-pink-400: #eebed1;
  --ds-pink-500: #eaaec5;
  --ds-pink-600: #e69eba;
  --ds-pink-700: #d25182;
  --ds-pink-800: #9a2854;
  --ds-pink-900: #4d142a;
  --ds-pink-950: #290a16;
}

@media (color-gamut: p3) {
  @supports (color: color(display-p3 0 0 0)) {
    :root {
      --ds-black: color(display-p3 0.133 0.086 0.106);

      /* pink */
      --ds-pink-50: color(display-p3 0.992 0.969 0.976);
      --ds-pink-100: color(display-p3 0.984 0.937 0.953);
      --ds-pink-200: color(display-p3 0.969 0.875 0.91);
      --ds-pink-300: color(display-p3 0.949 0.808 0.863);
      --ds-pink-400: color(display-p3 0.933 0.745 0.82);
      --ds-pink-500: color(display-p3 0.918 0.682 0.773);
      --ds-pink-600: color(display-p3 0.902 0.62 0.729);
      --ds-pink-700: color(display-p3 0.824 0.318 0.51);
      --ds-pink-800: color(display-p3 0.604 0.157 0.329);
      --ds-pink-900: color(display-p3 0.302 0.078 0.165);
      --ds-pink-950: color(display-p3 0.161 0.039 0.086);
    }
  }
}

@theme {
  /* ----- fonts ----- */
  --font-sans:
    var(--font-dm-sans), sans-serif, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-display:
    var(--font-fraunces), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: initial;
  --font-mono: initial;

  /* ----- breakpoints ----- */
  --breakpoint-xxs: 375px;
  --breakpoint-xs: 425px;
  --breakpoint-md: 768px;
  --breakpoint-md-lg: 992px;

  /* ----- colors ----- */
  --color-*: initial;
  --color-white: #fff;
  --color-black: var(--ds-black);

  /* pink */
  --color-pink-50: var(--ds-pink-50);
  --color-pink-100: var(--ds-pink-100);
  --color-pink-200: var(--ds-pink-200);
  --color-pink-300: var(--ds-pink-300);
  --color-pink-400: var(--ds-pink-400);
  --color-pink-500: var(--ds-pink-500);
  --color-pink-600: var(--ds-pink-600);
  --color-pink-700: var(--ds-pink-700);
  --color-pink-800: var(--ds-pink-800);
  --color-pink-900: var(--ds-pink-900);
  --color-pink-950: var(--ds-pink-950);

  /* ----- animations ----- */
  --animate-marquee-slow: marquee 25s linear infinite;
  --animate-marquee-normal: marquee 15s linear infinite;
  --animate-marquee-fast: marquee 10s linear infinite;
  --ease-navigation: cubic-bezier(0.75, 0, 0.25, 1);

  /* ----- keyframes ----- */
  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }
}

@layer base {
  * {
    @apply dark:text-pink-300;
  }

  html {
    font-variation-settings: 'wght' 450;
    font-optical-sizing: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }

  a {
    @apply rounded decoration-dotted decoration-4 underline-offset-6 transition duration-300 hover:not-focus-visible:underline focus:outline-none focus-visible:ring-3 focus-visible:ring-pink-900/75 focus-visible:ring-offset-2 focus-visible:ring-offset-pink-50 dark:focus-visible:ring-pink-300 dark:focus-visible:ring-offset-pink-950;
  }

  strong {
    @apply font-bold;
  }
}

@utility font-display {
  font-variation-settings:
    'SOFT' 100,
    'WONK' 1;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  line-height: initial;
}

@utility font-thin {
  font-variation-settings: 'wght' 150;
}

@utility font-extralight {
  font-variation-settings: 'wght' 250;
}

@utility font-light {
  font-variation-settings: 'wght' 350;
}

@utility font-normal {
  font-variation-settings: 'wght' 450;
}

@utility font-medium {
  font-variation-settings: 'wght' 550;
}

@utility font-semibold {
  font-variation-settings: 'wght' 650;
}

@utility font-bold {
  font-variation-settings: 'wght' 750;
}

@utility breakout-full {
  width: 100dvw;
  margin-left: calc((100dvw - 100%) / -2);
}

@utility breakout-section {
  width: 100dvw;
  margin-left: calc((100dvw - 100%) / -2);
  padding-inline: calc((100dvw - 100%) / 2);
}

@utility nav-menu-container {
  &[data-open='false'] {
    grid-template-rows: 0fr;

    .nav-menu-content {
      opacity: 0;
    }
  }

  &[data-open='true'] {
    grid-template-rows: 1fr;

    .nav-menu-content {
      opacity: 1;
    }
  }
}

@utility nav-menu-content {
  min-height: 0;
  transition: opacity 200ms 150ms ease-navigation;

  @starting-style {
    opacity: 0;
  }
}
